!.gitkeep

node_modules/
test-results/
playwright-report/
playwright/.cache/
lib/

examples/workflow-test/server/
examples/workflow-test/playwright/.storage/*.json

*.tsbuildinfo
*.log
*.jar
*.vsix
!*.env.example
*.env


